logs
project/project
project/target
target
tmp
bin/
data/
db/
dist/
logs/
test-results/
lib/
tmp/
modules/
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
