@(menuItems: List[String])

@main("Biplab's homepage") {
    <!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        </head>
         
        <body>
        <ul class="MainMenu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Paintings</a></li>
            <li><a href="#">Biography</a></li>
            <li><a href="#">Resume</a></li>
            <li><a href="#">Family</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </body>
    </html>
}
