@(menuItems: List[String])

@main("Biplab's homepage") {
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        </head>
         
        <body>
         
        <table id="home-menu">
            <tr><td><a href="#">Home</a></td></tr>
            <tr><td><a href="#">Resume</a></td></tr>
            <tr><td><a href="#">Biography</a></td></tr>
            <tr><td><a href="#">Photos</a></td></tr>
            <tr><td><a href="#">Family</a></td></tr>
        </ul>
         
        </body>
    </html>
}
